.header-top {
    background-color: #263238;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
